<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.shashwat.opengl.firstdemo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.shashwat.opengl.firstdemo.Perspective"
            id="com.shashwat.opengl.firstdemo.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.shashwat.opengl.firstdemo.application"
            name="OpenGL App">
         <property
               name="windowImages"
               value="icons/alt_window16.gif,icons/alt_window32.gif">
         </property>
         <property
               name="appName"
               value="OpenGL App">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.shashwat.opengl.firstdemo.parts.view.OpenGLView"
            icon="icons/alt_window16.gif"
            id="com.shashwat.opengl.firstdemo.openglview"
            name="OpenGL View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.shashwat.opengl.firstdemo.parts.editor.OpenGLEditor"
            default="false"
            id="com.shashwat.opengl.firstdemo.opengleditor"
            name="OpenGL Editor">
      </editor>
   </extension>

</plugin>
